<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="rsData">
    <form action="">
        <input type="text" value="" name="carNo"/>
        <input type="text" value="" name="workOrderNo"/>
        <input id="orderCheck" type="button" value="查询"/>
        <input id="resetData" type="button" value="重置"/>
    </form>
    <s_grid :filter-key="searchQuery"></s_grid>
</div>


<!--table-->
<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns">{{key]}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="item in model">
            <td v-for="key in columns">{{item[key]}}</td>
        </tr>
        </tbody>
    </table>
</script>

<script src="./js/jquery.1.8.3.min.js"></script>
<script src="./js/vue.js"></script>
<script>
    var $path = 'http://localhost:8888/a';

    $(function () {
        getData();
        $(document).on('click', '#orderCheck', function () {
            console.log(0)
        });
    });

    Vue.component('s_grid', {
        template: '#grid-template',
        props: {
            filterKey: String
        }
    });

    function getData() {

        var carNo = $('input[name=carNo]').val();
        var workOrderNo = $('input[name=workOrderNo]').val();

        //  查询条件
        var uData = {
            'carNo': carNo,
            'workOrderNo': workOrderNo
        };

        $.ajax({
            contentType: 'application/json',
            url: $path + '/kefu/workOrder/list',
            async: true,
            type: 'post',
            data: JSON.stringify(uData),
            success: function (data) {
                var obj = data.model.list;
                new Vue({
                    el: '#rsData',
                    data: {
//                        filterData: '',
                        items: obj,
                        columns: ['车辆编号', '工单编号']
                    }
                });
            }
        });
    }

</script>
</body>
</html>